body {
  font-size: 1rem;
  background-color: #292c36;
  color: #f0f0f0;
  font-family:
    "Myriad Set Pro",
    "Lucida Grande",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    "Verdana",
    "sans-serif";
}

a {  color: #00aba5; }
