body {
    font-size: 1rem;
    font-weight: 300;
    background-color: #292B36;
    color: #d0d0d0;
    font-family: "Roboto", "sans-serif";
    width: 100%;
}
header, main, footer {
    margin: 3rem;
}
pre {
    margin-top: 1.75rem;
}
pre, code {
    font-family: "Hack", "monospace";
    font-size: .75rem;
}
a {
    color: #00aba5;
    text-decoration: none;
}
a:hover, a:active {
    color: #8485CE;
}
p {
    margin: 1rem 0;
}
h3 {
    font-weight: 300;
}
